In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mysql.connector


db = mysql.connector.connect(host = "localhost",
                            username = "root",
                            password = "9928467746",
                            database = "ecommerce")

curs = db.cursor()

Matplotlib is building the font cache; this may take a moment.

# List all unique cities where customers are located.

In [14]:
query = """ select distinct customer_city from customers """

curs.execute(query)

data = curs.fetchall()

df = pd.DataFrame(data)
df

                          0
0                    franca
1     sao bernardo do campo
2                 sao paulo
3           mogi das cruzes
4                  campinas
...                     ...
4114                 siriji
4115    natividade da serra
4116           monte bonito
4117             sao rafael
4118      eugenio de castro

[4119 rows x 1 columns]

#  Count the number of orders placed in 2017.

In [9]:
query = """ select count(order_id) from orders where year(order_purchase_timestamp) = 2017 """

curs.execute(query)

data = curs.fetchall()

"total orders placed in 2017 are", data[0][0]

('total orders placed in 2017 are', 45101)

# Calculate the percentage of orders that were paid in installments.

In [19]:
query = """ select ((sum(case when payment_installments >= 1 then 1
else 0 end))/count(*))*100 from payments
"""

curs.execute(query)

data = curs.fetchall()

"the percentage of orders that were paid in installments is", data[0][0]

('the percentage of orders that were paid in installments is',
 Decimal('99.9981'))

# Count the number of customers from each state.